<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="css/persian.datepicker.css" />
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/persian-date/dist/persian-date.js/persian.date.js"></script>
    <script src="node_modules/persian-date/dist/persian-date.js/persian.datepicker.js"></script>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/persian-datepicker/dist/css/persian-datepicker.min.css"
    /> -->
  </head>
  <body>
    <div class="container">
      <h1>لطفا مشخصات خود را وارد کنید</h1>
      <form action="/register" method="post">
        <div class="form-group">
          <label for="nameAndLastName">نام و نام خانوادگی</label><br />
          <input
            type="text"
            id="nameAndLastName"
            name="nameAndLastName"
            required
          />
        </div>
        <div class="form-group">
          <label for="phoneNumber">شماره تماس</label><br />
          <input
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            pattern="(?:\+98|0)?9\d{9}"
            title="Iranian phone number format"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">ایمیل</label><br />
          <input type="email" id="email" name="email" />
        </div>
        <div class="form-group">
          <label for="address">آدرس</label><br />
          <input type="text" id="address" name="address" />
        </div>
        <div class="form-group">
          <label for="description">توضیحات کوتاه در مورد مشکل</label><br />
          <textarea id="description" name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="appointmentDate">انتخاب روز مشخص</label><br />
          <input
            type="text"
            id="appointmentDate"
            name="appointmentDate"
            class="datepicker-here"
            data-language="fa"
            data-position="bottom right"
            data-multiple-dates="3"
            placeholder="تاریخ مورد نظر را وارد کنید"
          />
        </div>
        <button type="submit">ثبت درخواست</button>
      </form>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".initial-value-example").persianDatepicker({
          initialValue: false,
        });
      });
    </script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fa.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker/dist/js/persian-datepicker.min.js"></script>
    <script>
      $(document).ready(function () {
        // Initialize bootstrap-datepicker with Persian language
        $(".datepicker-here").datepicker({
          language: "fa",
          format: "yyyy/mm/dd",
          autoclose: true,
          todayHighlight: true,
        });
      });
    </script> -->
  </body>
</html>
